@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  height: 100vh;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 60px;
}

.brand {
  padding: 50px;
}

.weather-app {
  min-height: 100vh;
  background-image: url(../images/day/cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 1;
}

.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.city-time,
.temp,
.weather {
  margin: 0 1em;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
}

.temp {
  font-size: 6.5em;
  margin: 0;
}

.weather img {
  display: block;
  margin: 0.5em 0;
}

.panel {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  overflow-y: scroll;
}

.panel form {
  margin-top: 3em;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #fa6d1b;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.submit:hover {
  background: #fff;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::-webkit-input-placeholder {
  color: #ccc;
}

.search::-moz-placeholder {
  color: #ccc;
}

.search:-ms-input-placeholder {
  color: #ccc;
}

.search::-ms-input-placeholder {
  color: #ccc;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px solid #ccc;
}

.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.title {
  margin: 3em 0;
}

.city {
  display: block;
  cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 855px) {
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 915px) {
  .temp {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 800px) {
  .panel,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
  .city-time h1 {
    font-size: 2em;
  }
  .brand {
    padding: 20px;
  }
  .container > div {
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 50px 40px;
  }
  .submit {
    display: none;
  }
  .panel {
    width: 40%;
  }
  .panel ul li {
    font-size: 14px;
    margin: 2em 0;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .temp {
    font-size: 3.5em;
  }
  .name {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 300px) {
  .weather-app {
    min-height: 40em;
  }
  body {
    overflow-y: hidden;
  }
  .container > div {
    margin: 0;
    padding: 10px 20px;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #111;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1, h3 {
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */