.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  // padding: 2em 3em 4em 3em;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.brand {
  padding: 50px;
}

.weather-app {
  min-height: 100vh;
  background-image: url(../images/day/cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
}

//add background overlay
.weather-app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.city-time,
.temp,
.weather {
  margin: 0 1em;
}

.city-time h1 {
  margin: 0;margin-bottom: 0.2em;
  font-size: 3em;
}

.temp {
  font-size: 7em;
  margin: 0;
}

.weather img {
  display: block;
  margin: 0.5em 0;
}

.panel {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  // padding: 3em 2em;
  padding-left: 40px;
  padding-right: 40px;

  overflow-y: scroll;
}

.panel form {
  margin-top: 3em;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #fa6d1b;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background: #fff;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px solid #ccc;
}

.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
  transition: color 250ms ease-in-out;
}

.title {
  margin: 3em 0;
}

.city {
  display: block;
  cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//Responsive

@media screen and (min-width: 850px) {
.container {
    justify-content: space-between;
    
  }

}

@media screen and (max-width: 800px) { 
  body {
    overflow-y: hidden;
  }
  .panel,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }

    .brand {
      padding: 20px;
    }

  .container > div {
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 10px;  
  }

  .submit {
    display: none;
  }

  .panel {
    width: 60%;
  }

  .panel ul li {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 500px) { 
  html {
    font-size: 12px;
  } 

  .temp {
    font-size: 3.5em;
  }
  .name {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 300px) { 
  .weather-app {
    min-height: 40em;
  } 
}


